<section class="hero">

  <p-avatar
    image="assets/profile.png"
    shape="circle"
    size="xlarge">
  </p-avatar>

  <div class="hero-text">

    <h1>Santiago Nicolás López López</h1>

    <h2>
      Ingeniero en Formación · QA Engineer · Especialista en Pruebas de Software
    </h2>

    <p>
      Tecnólogo en Análisis y Desarrollo de Software con más de 3 años
      de experiencia en pruebas manuales y automatizadas en entornos
      transaccionales y pasarelas de pago.
    </p>

    <p>
      Especializado en metodologías ISTQB, enfoque shift-left testing
      y validación de mensajería ISO 8583 en plataformas financieras.
    </p>

    <p>
      Apasionado por la calidad del software, la mejora continua y
      la arquitectura escalable.
    </p>

  </div>

</section>