@if (images().length > 0) {
  <div class="image-preview-list">
    <p class="preview-label">{{ 'blog.imagePreview' | translate }}</p>
    @for (image of images(); track image.fileName) {
      <div class="preview-item">
        <img [src]="image.previewUrl" [alt]="image.fileName" />
        <button
          pButton
          type="button"
          severity="danger"
          [label]="'blog.discardImage' | translate"
          (click)="onDiscard(image.fileName)"
        ></button>
      </div>
    }
  </div>
}
