<section class="contact">

  <h3 class="section-title">Contacto</h3>

  <p class="contact-description">
    Estoy abierto a nuevas oportunidades, proyectos fintech
    y desafíos en aseguramiento de calidad de software.
  </p>

  <div class="contact-items">

    <div class="contact-item">
      <i class="pi pi-map-marker"></i>
      <span>Bogotá, Colombia</span>
    </div>

    <div class="contact-item">
      <i class="pi pi-envelope"></i>
      <a href="mailto:28.snll.05@gmail.com">
        28.snll.05@gmail.com
      </a>
    </div>

    <div class="contact-item">
      <i class="pi pi-linkedin"></i>
      <a href="https://www.linkedin.com/in/santiago-nicolas-lopez-lopez-43b16a217/?trk=opento_sprofile_pfeditor" target="_blank">
        LinkedIn
      </a>
    </div>

    <div class="contact-item">
      <i class="pi pi-github"></i>
      <a href="https://github.com/SantiagoAlguien/" target="_blank">
        GitHub
      </a>
    </div>

  </div>

</section>