/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  margin: 0;
  background-color: #0f172a; /* dark */
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}